.assortment {
  margin: 0;
  padding: 0;
  margin-bottom: 190px;
  background: url('../img/decor-bg3.png') top left no-repeat,
  url('../img/decot-bg2.png') bottom right no-repeat;
}

.assortment__list {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  row-gap: 50px;
}

.assortment__item {
  max-width: 413px;
  max-height: 577px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.assortment__img {
  width: 100%;
}

.assortment__inner {
  padding: 30px 0 55px;
  width: 100%;
  text-align: center;
  background-color: $card-bg;
  border-radius: 0  0 26px 26px;
}

.assortment__text {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  color: $basic-text-color;
}

.assortment__btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: $card-text;
  background: $btn-color;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  cursor: pointer;
}
