.slider {
  margin: 0 auto;
  padding: 0;
  height: 713px;
  max-width: 1440px;
}

.slider__wrap {
  position: relative;
}

.slider__arrow {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
}

.slider__arrow-right {
  right: 0;
}


.slider__inner {
  width: 644px;
  position: absolute;
  top: 55%;
  right: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.slider__title {
  margin: 0;
  padding: 0;
  font-family: 'Nizhegorodsky';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 106px;
  color: $extra-text-color;
}

.slider__text {
  margin: 0;
  padding: 0;
  font-family: 'Nizhegorodsky';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  color: $extra-text-color;
}

.slider__btn {
  margin-top: 20px;
  padding: 17px 20px;
  border: none;
  background: $btn-color;
  border-radius: 9px;
  font-family: 'Nizhegorodsky';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: $extra-text-color;
}

.slider__points {
  width: 127px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  display: flex;
  gap: 13px;
}

.slider__point {
  display: block;
  background: $point_color;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

.slider__point--active {
  background: $point_color-active;
}