section.about
  .container
    h2.title О Нас
    p.about__text Оптовая продажа рыбы и морепродуктов. Более 500 видов<br> продукции.<br>
                | У нас огромный посолочный цех, цех по вялению рыбы, камеры<br> горячего и холодного копчения.<br>
                | Вся наша продукция соответствует ГОСТу. Работаем с 1997<br> года!.