section.assortment
  .container 
    .title Ассортимент
    ul.assortment__list 
      li.assortment__item 
        img(src="img/salted-fish.png" alt="Соленая рыба").assortment__img
        .assortment__inner 
          .assortment__text Соленая рыба
          button.btn.assortment__btn Подробнее
      li.assortment__item 
        img(src="img/smoked-fish.png" alt="Копчёная рыба").assortment__img
        .assortment__inner 
          .assortment__text Копчёная рыба
          button.btn.assortment__btn Подробнее
      li.assortment__item 
        img(src="img/dried-fish.png" alt="Вяленая рыба").assortment__img
        .assortment__inner 
          .assortment__text Вяленая рыба
          button.btn.assortment__btn Подробнее
      li.assortment__item 
        img(src="img/freshly-frozen.png" alt="Свежемороженная").assortment__img
        .assortment__inner 
          .assortment__text Свежемороженная
          button.btn.assortment__btn Подробнее
      li.assortment__item 
        img(src="img/seafood-delicacies.png" alt="Морские деликатесы").assortment__img
        .assortment__inner 
          .assortment__text Морские деликатесы
          button.btn.assortment__btn Подробнее
      
