section.contacts 
  .container 
    h2.title Контакты
    .contacts__inner 
      .contacts__info 
        img(src="img/logo-contacts.png", alt="logo").contacts__img
        ul.contacts__info-list
          li.contacts__info-item 
            img(src="img/u_file-alt.svg" alt="Документ").contacts__info-icon
            a(href="#").contacts__text ИП Шарбанов В.А
          li.contacts__info-item 
            img(src="img/u_location-pin-alt.svg" alt="Маркер").contacts__info-icon
            a(href="#").contacts__text Россия, Нижегородская обл.,<br>
                                      |Арзамас, 50 лет ВЛКСМ 12
          li.contacts__info-item 
            img(src="img/u_phone-alt.svg" alt="Телефон").contacts__info-icon
            a(href="#").contacts__text 8(83147)2-12-94
        ul.contacts__list 
          li.contacts__item 
            a(href="#")
              img(src="img/vk.png", alt="Vk").contacts__img-social
          li.contacts__item 
            a(href="#")
              img(src="img/instagram.png", alt="instagram").contacts__img-social
          li.contacts__item 
            a(href="#")
              img(src="img/mail_ru.png", alt="mail_ru").contacts__img-social
          li.contacts__item 
            a(href="#")
              img(src="img/telegram.png", alt="telegram").contacts__img-social
      .contacts__map 
        img(src="img/map.jpg" alt="maps").contacts__map-img

