header.header
  .container 
    nav.header__nav 
      img(src="img/logo-decor.png", alt="logo").header__logo
      ul.header__list 
        li.header__item
          a(href="#") Главная
        li.header__item
          a(href="#") О нас
        li.header__item.header__item--right
          a(href="#") Ассортимент
        li.header__item.header__item--right
          a(href="#") Контакты

