section.slider
  .slider__wrap
    button.slider__arrow.slider__arrow-left
      img(src="img/left-arrow.svg", alt="lift")
    button.slider__arrow.slider__arrow-right
      img(src="img/right-arrow.svg", alt="right")
    .slider__list 
      .slider__item 
        img(src="img/salmon.jpeg", alt="salmon")
        .slider__inner 
          h2.slider__title Lorem Ipsum
          p.slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit<br> .Rhoncus nisi, orci eget ut.
          button.btn.slider__btn Подробнее
      //- .slider__item 
      //-   img(src="img/halibut.jpeg", alt="halibut")
      //-   .slider__inner 
      //-     h2.slider__title Lorem Ipsum
      //-     p.slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit .Rhoncus nisi, orci eget ut.
      //-     button.bnt.btn__slider Подробнее
      //- .slider__item 
      //-   img(src="img/tuna.jpeg", alt="tuna")
      //-   .slider__inner 
      //-     h2.slider__title Lorem Ipsum
      //-     p.slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit .Rhoncus nisi, orci eget ut.
      //-     button.bnt.btn__slider Подробнее
    .slider__points
      .slider__point.slider__point--active
      .slider__point 
      .slider__point 
      .slider__point 
    
        

