section.why 
  .container
    .why__inner 
      h2.why__title Почему мы?
      p.why__subtitle Производим и продаем рыбу и рыбные полуфабрикаты. В своей работе
                      |руководствуемся следующими принципами:
      ul.why__list 
        li.why__item 
          img(src="img/u_award.svg", alt="Качество").why__img
          p.why__text Качественное сырьё! Наш отдел закупок охотится за лучшими поставщиками рыбы.
        li.why__item 
          img(src="img/u_water-drop-slash.svg", alt="Экология").why__img
          p.why__text Экологичное производство.
                      |Мы не используем красители, жидкий дым или консерванты.
        li.why__item 
          img(src="img/u_euro-circle.svg", alt="Лучшая цена").why__img
          p.why__text Лучшая цена.За 20 лет мы накопили достаточный опыт, чтобы предоставить вам лучшую на рынке цену.
        li.why__item 
          img(src="img/u_smile-beam.svg", alt="Мы несем ответственность за свой продукт!").why__img
          p.why__text Мы несем ответственность за свой продукт!